{% set ipython_notebook = salt['grains.filter_by']({
    'x86_64': {
        'users': {
            'dhc-user': {
                'hashed_pass': 'sha1:56f09206d73e:8d66361770645216171bcbf9b648a33429fa4c90',
                'group': 'dhc-user',
                'profile': 'julia',
                'port': '8080',
                'host': 'localhost'
            }
        }
    },
    'x86': {
        'users': {
            'dhc-user': {
                'hashed_pass': 'sha1:56f09206d73e:8d66361770645216171bcbf9b648a33429fa4c90',
                'group': 'dhc-user',
                'profile': 'julia',
                'port': '8080',
                'host': 'localhost'
            }
        }
    }
}, merge=salt['pillar.get']('ipython-notebook'), grain='cpuarch', default='x86_64') %}

