{% set ipython_notebook = salt['grains.filter_by']({
    'x86_64': {
        'users': {
            'dhc-user': {
                'group': 'dhc-user',
                'profile': 'julia',
                'port': '8080',
                'host': 'localhost',
                'cert': '/etc/nginx/nginx.crt'
            }
        }
    },
    'x86': {
        'users': {
            'dhc-user': {
                'user': 'dhc-user',
                'group': 'dhc-user',
                'profile': 'julia',
                'port': '8080',
                'host': 'localhost',
                'cert': '/etc/nginx/nginx.crt'
            }
        }
    }
}, merge=salt['pillar.get']('ipython-notebook:lookup'), grain='cpuarch', default='x86_64') %}

